# binary
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
./bin/*
*.pid
*.test
sql-parser-go
lexer
./parser

# config
.idea/
*/.idea/
.DS_Store
test/*.json
config/go_template.yaml

# output
*.out
log/
*/*.log
*.log

#other
archive/*
release/*
http-client.env.json
.vscode/
.test
go_template.pid
go_template.yaml
